<h1>Edit</h1>

<%= form_for @conn, page_path(@conn, :change), [method: "post"], fn f -> %>
    <input type="hidden" name="id" value="<%= @message.id %>">
    <%= label f, :user, "Your name:" %>
    <%= text_input f, :user, value: @message.user %>

    <%= label f, :message, "Your message:" %>
    <%= text_input f, :message, value: @message.message %>
    
    <%= submit "Submit" %>
<% end %>